# Byte-compiled / optimized / DLL files
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
.venv/
ENV/
env.bak/
venv/
.venv/

# Environment variables
.env
.env.*

# PyCharm / VSCode
.idea/
.vscode/

# SQLite / SQLAlchemy
*.sqlite3
*.db
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Build
build/
dist/
*.egg-info/
